# === Python ===
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# === Jupyter Notebooks ===
.ipynb_checkpoints/

# === Virtual environments ===
.venv/
env/
venv/

# === Local data (big files) ===
data/
*.csv
*.xlsx
*.xls
*.xlsb
*.zip

# === System files ===
.DS_Store
Thumbs.db

# === VS Code ===
.vscode/